<ion-content>

  <div class="cont-poc">

    <ion-grid>
      <ion-row>
        <ion-col size="12">
            <div class="logo">
                <img src="assets/img/igeo-logo.svg" alt="">
              </div>
        </ion-col>
        <ion-col *ngIf="!lectura">
          <p class="text-igeo">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          </p>
        </ion-col>
        <div class="cont-btn" *ngIf="!lectura">
            <ion-button (click)="leerQR()" expand="block">Leer QR</ion-button>
          </div>
        
      </ion-row>
    </ion-grid>

 <!-- <p text-center> {{ lectura | json}}</p>-->

 <form [formGroup]="formulario" novalidate *ngIf="lectura">
<ion-grid>
      <ion-row>
        <ion-col size="12">
         <h4 class="title-form">Enviar Observación</h4>
        </ion-col>
 <ion-col size="12">
    <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sala</ion-label>
        <ion-input type="text" formControlName="sala"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input type="text" formControlName="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Observación</ion-label>
        <ion-textarea formControlName="observacion"></ion-textarea>
      </ion-item>

      <ion-button expand="block" (click)="sendForm()" expand="full">Enviar</ion-button>
 </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>
</ion-content>
