.cont-poc{
    border: 1px solid #DDD;
    width: 250px;
    min-height: 435px;
    margin: 0 auto;
    text-align: center;
    border-top: 3px solid #F15A29;
    margin-top: 70px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    position: relative;
    transition: all .3s ease-out;
    img{
        display: inline-block;
        margin: 0 auto;
        margin-top: 35px;
    }
}

.text-igeo{
    font-size: 14px;
    text-justify: justify;
    line-height: 1.4;
    color: #666;
}

.cont-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.cont-form{
/*    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;*/
    background-color: #fff;
}

.title-form{
    font-weight: 700;
    color: #777;
    text-transform: uppercase;
    font-size: 12px;
}